{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
    <link href="../../static/stylesheets/styleRegister.css" rel="stylesheet"/>
    <div class="card text-secondary col-md-6 m-auto">
        <div class="card-body standard_text">
            <div class="">
                <h5 class="card-title text-muted mt-2 mb-3">Regístrate</h5>
            </div>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <form class="form">
                <div class="d-flex">
                    <div class="col-sm-6">
                        {{ render_field(form.name) }}
                    </div>
                    <div class="col-sm-6">
                        {{ render_field(form.lastname) }}
                    </div>
                </div>

                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.password_confirm) }}
                <div class="mt-2 d-flex justify-content-center">
                    {{ render_field(form.submit) }}
                </div>
            </form>


        </div>
    </div>
    <div class="card text-secondary col-md-6 m-auto">
        <div id="show" class="card-body standard_text">
            <button class="btn btn-primary" onclick="poblarTabla()">Mostrar Usuarios</button>
            <table id="tabla">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Contraseña</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        let entries = [];

        document.getElementById("submit").onclick = function (ev) {
            ev.preventDefault();
            let x = document.getElementById("name");
            let y = document.getElementById("lastname");
            let z = document.getElementById("email");
            let w = document.getElementById("password");
            let repeat = document.getElementById("password_confirm");

            let customObject = {
                name: x.value,
                lastname: y.value,
                email: z.value,
                password: w.value
            };
            entries.push(customObject);
            x.value = "";
            y.value = "";
            z.value = "";
            w.value = "";
            repeat.value = "";
            return false;
        }

        function poblarTabla() {
            let tabla = document.getElementById("tabla");
            // insert new input element
            let inputsito = document.createElement("input");
            inputsito.setAttribute("type", "text");
            inputsito.setAttribute("id", "input");
            inputsito.setAttribute("placeholder", "Buscar");
            inputsito.style.marginBottom = "10px";
            document.body.appendChild(inputsito);

            // clean table first
            while (tabla.rows.length > 1) {
                tabla.deleteRow(1);
            }
            for (let i = 0; i < entries.length; i++) {
                let row = tabla.insertRow(i + 1);
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);
                cell1.innerHTML = entries[i].name;
                cell2.innerHTML = entries[i].lastname;
                cell3.innerHTML = entries[i].email;
                cell4.innerHTML = entries[i].password;
            }

        }
    </script>
{% endblock %}
