.video_capture {
    width: 100%;
    aspect-ratio: auto;
}

.main_container {
    display: grid;
    grid-template-columns: 68.5% 28.5%;
    gap: 3%
}

.side {
    width: 100%;
    height: available;
    background: #28a745;
}

.branding {
    width: 100%;
    height: available;
    background: rgba(40, 167, 69, 0.31);
}

.types {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.card_image {
    padding: 1rem;
    height: 150px;
}

.ia_icon {
    width: 100px;
}

#results-box{
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .main_container {
        display: flex;
        flex-direction: column;
    }

    .card_image {
        align-content: center;
        justify-content: center;
        width: 100px;
        height: unset;
    }
}
