.image_inside {
    object-fit: cover;
    height: 250px;
}

.highlighted_section_green {
    border: 2px green dashed;
}

.highlighted_section_red {
    border: 2px red dashed;
}

.info_container {
    margin-top: 2rem;
}

.accordion-green:not(.collapsed) {
    background-color: green !important;
    color: white;
}

.accordion-red:not(.collapsed) {
    background-color: red !important;
    color: white;
}
