.navbar-navbar-default {
    background: black;
}

.navbar {
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, .5);
}

a:hover {
    color: black;
    transition: 1s;
}

.navbar-brand-expand-sm img {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 70%;
}

body {
    color: #eee;
    background: #121212;
    font-family: "Silkscreen-Regular", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.standard_text {
    color: darkgray;
}

.btn {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn:hover {
    background-color: #25933f;
    border-color: #25933f;
    color: white;
}

.content_container {
    margin-bottom: 2rem;
}

@font-face {
    font-family: "Silkscreen-Regular";
    src: url("../fonts/Silkscreen-Regular.ttf") format("truetype");
}
