.form-label {
    display: none;
}

.form {
    text-align: center;
}

.form > .form-check {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

#username {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
}

#password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

