<!doctype html>
{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Smart Classifier</title>
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link href="../static/stylesheets/style.css" rel="stylesheet"/>
        {% endblock %}

        <title>Smart Classifier</title>

        <link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
</head>
<body class="blackish">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">
            <img src="../static/logo.svg" alt="" width="30" height="30">
            Smart Classifier
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="https://github.com/JuanC-Fandino"
                                        target="_blank">GitHub</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Código de Colores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('main.white') }}">Blanco</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('main.green') }}">Verde</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('main.black') }}">Negro</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    {{ render_messages(container=False, dismissible=True) }}
    {% block content %}{% endblock %}
</main>


{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>
