{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}
    <link href="../static/stylesheets/more_info.css" rel="stylesheet"/>

    <div id="mainCarousel" class="carousel slide card main_carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/green/organicos.jpg" class="d-block w-100 image_inside" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Restos de comida </h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/green/agricolas.jpg" class="d-block w-100 image_inside" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Desechos agrícolas</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="info_container">
        <div class="card">
            <h5 class="card-header text-secondary">Residuos orgánicos</h5>
            <div class="card-body">
                <p class="card-text standard_text">
                    En cifras de la Superintendencia de Servicios Públicos y Domiciliarios - Superservicios, se estima
                    que entre el 60% y 70% de los residuos sólidos del país se pueden aprovechar por medio del
                    compostaje. Además, se estima que <b
                        class="text-success">40% de la basura
                    diaria que se genera es materia orgánica. </b></p>
                <div class="accordion" id="accordionOne">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button accordion-green" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Compostaje
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body standard_text">
                                Se trata de una técnica mediante la cual se crean las condiciones necesarias para las
                                que a partir de residuos orgánicos los organismos descomponedores fabriquen un abono de
                                elevada calidad.
                                <br>
                                <hr>
                                <p class="pb-1 text-muted">
                                    ¿Cómo preparar el <b class="text-success">compostaje</b>?
                                </p>
                                <ul class="standard_text">
                                    <li>La mezcla debe elaborarse con varias capas de residuos. La primera, la de
                                        más abajo,
                                        debe tener materiales gruesos y ricos en celulosa, por ejemplo hojas,
                                        cortezas o ramas;
                                        la segunda debe contener residuos de alimentos verdes; y para la tercera, se
                                        recomienda
                                        incluir elementos ricos en nitrógeno, como por ejemplo el estiércol de vaca
                                        o de oveja.
                                    </li>
                                    <li>No olvides añadir una capa fina de entre dos o cinco centímetros de tierra
                                        y, si es el
                                        caso, ingredientes como cáscaras de huevo troceadas o restos de algas. Este
                                        tipo de
                                        productos contienen un alto contenido de carbonatos que favorecen la buena
                                        salud de los
                                        cultivos y la tierra en general.
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed accordion-green" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Producción de energía
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body standard_text">
                                El <b class="text-success">biometano</b> es un tipo de gas natural renovable obtenido a
                                partir del tratamiento de
                                residuos.

                                Este gas es similar al gas fósil que se encuentra en la naturaleza y por tanto, puede
                                sustituirlo.

                                Es bio porque se produce a partir de la degradación de residuos orgánicos.

                                Tiene las mismas propiedades y ventajas que el gas natural frente a otros combustibles
                                fósiles, como son menos emisiones de óxidos de nitrógeno (NOx) y partículas (causantes,
                                entre otros, de la mala calidad del aire), y es neutro en emisiones de CO2, por lo que
                                contribuye a descarbonizar el sector gasista y, por tanto, a luchar contra el cambio
                                climático.

                                <img src="../static/green/biometano.jpg" class="w-100 mt-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
