{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block content %}
    <link href="../static/stylesheets/home.css" rel="stylesheet"/>
    <h1 class="text-center mb-4">
        ¿Cansado de no saber en cúal bolsa debes tirar tu basura?
    </h1>
    <div class="main_container">
        <div class="video_container">
            <video class="video_capture" id="player" controls autoplay
                   poster="../static/video-placeholder.jpg"></video>
        </div>
        <div class="side card text-center p-3">
            <div class="my-auto">
                ¡DANOS ACCESO TU CÁMARA Y COMIENZA A USAR NUESTRA APP!
                <div class="text-center">
                    {{ render_icon('camera', size='70px') }}
                </div>
                <hr>
                Deja que nuestros avanzados algoritmos de inteligencia artificial te faciliten la vida
                <div class="text-center">
                    <img src="../static/ia.png" class="ia_icon">
                </div>
            </div>
        </div>
    </div>
    <div id="results-box" class="card" style="display:none">
        <h5 class="card-header text-secondary" id="text-title-resultado">Resultado</h5>
        <div class="card-body">
            <div class="card-text standard_text" id="text-inside">
                El desecho es:
                <b id="prediction"></b>
                <br>
                La bolsa correspondiente es:
                <b id="bag"></b>
                <div class="d-flex justify-content-end">
                    <button>
                        Clasificar otro residuo
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="types">
        <div class="card mb-3">
            <h5 class="card-header text-secondary">Residuos aprovechables</h5>
            <div class="row g-0">
                <div class="col-md-2 text-center">
                    <img src="../static/basura_blanca.png" class="img-fluid rounded-start card_image" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title text-black">Color Blanco</h5>
                        <p class="card-text standard_text">Residuos aprovechables como plástico, vidrio, metales,
                            multicapa,
                            papel y cartón.</p>
                        <a href="{{ url_for('main.white') }}" class="btn">Aprende más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <h5 class="card-header text-secondary">Residuos orgánicos</h5>
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title text-black">Color Verde</h5>
                        <p class="card-text standard_text">Para depositar residuos orgánicos aprovechables como
                            restos
                            de comida y desechos agrícolas.</p>
                        <a href="{{ url_for('main.green') }}" class="btn">Aprende más</a>
                    </div>
                </div>

                <div class="col-md-2 text-center">
                    <img src="../static/basura_verde.png" class="img-fluid rounded-start card_image" alt="...">
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header text-secondary">Residuos no aprovechables</h5>
            <div class="row g-0">
                <div class="col-md-2 text-center">
                    <img src="../static/basura_negra.png" class="img-fluid rounded-start card_image" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title text-black">Color Negro</h5>
                        <p class="card-text standard_text">Para depositar los residuos
                            no aprovechables como servilletas papeles metalizados, contaminados con comida..</p>
                        <a href="{{ url_for('main.black') }}" class="btn">Aprende más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {#<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>#}
    <script src="../static/js/camera.js"></script>
{% endblock %}
