{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block content %}
<link href="../static/stylesheets/home.css" rel="stylesheet"/>
<h1>Smart Classifier</h1>

<div class="main_container">
    <div class="video_container">
        <video class="video_capture" id="player" controls autoplay poster="../static/video-placeholder.jpg"></video>
    </div>
    <div class="side card text-center">
        <p class="pt-5 ps-2 pe-2">
            Cansado de no saber en que basura debes tirar tus desechos?
            <br>
            Con Smart Classifier podrás escanear tu basura y saber a que contenedor de basura debe ir.
        <hr>
        ¡PRENDE TU CAMARA Y COMIENZA A USAR NUESTRA APP!
        {{render_icon('camera', size='lg')}}
        </p>
    </div>
</div>

<div class="types">
    <div class="card flex-row">
        <img src="../static/basura_blanca.png" class="m-4" alt="..." style="width: 100px; height: 100px; ">
        <div class="card-body">
            <h5 class="card-title text-black">Color Blanco</h5>
            <p class="card-text text-secondary">Residuos aprovechables como plástico, vidrio, metales, multicapa, papel y cartón.</p>
            <a href="#" class="btn btn-primary">Aprende más</a>
        </div>
    </div>
    <div class="card flex-row">
        <div class="card-body">
            <h5 class="card-title text-black">Color Verde</h5>
            <p class="card-text text-secondary">Para depositar residuos orgánicos aprovechables como restos de comida y desechos
                agrícolas.</p>
            <a href="#" class="btn btn-primary">Aprende más</a>
        </div>
        <img src="../static/basura_blanca.png" class="m-4" alt="..." style="width: 100px; height: 100px;">
    </div>
    <div class="card flex-row">
        <img src="../static/basura_blanca.png" class="m-4" alt="..." style="width: 100px; height: 100px; ">
        <div class="card-body">
            <h5 class="card-title text-black">Color Negro</h5>
            <p class="card-text text-secondary">Para depositar los residuos
                no aprovechables como servilletas papeles metalizados, contaminados con comida..</p>
            <a href="#" class="btn btn-primary">Aprende más</a>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  const player = document.getElementById('player');

  const constraints = {
    video: true,
  };

  navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
    player.srcObject = stream;
  });
</script>
{% endblock %}
