{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}
    <link href="../static/stylesheets/more_info.css" rel="stylesheet"/>

    <div class="info_container">
        <div class="card">
            <h5 class="card-header text-secondary">Mis Estadísticas</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Hora
                            </th>
                            <th>
                                Tipo de Residuo
                            </th>
                            <th>
                                Confianza
                            </th>
                        </tr>
                        {% for record in records %}
                            <tr>
                                <td>
                                    {{ record.datetime.date() }}
                                </td>
                                <td>
                                    {{ record.datetime }}
                                </td>
                                <td>
                                    {{ record.prediction_type.name }}
                                </td>
                                <td>
                                    {{ record.confidence }}%
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="myPlot" class="custom-plot"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/js/plotly-2.14.0.min.js"></script>
    <script src="../static/js/plots.js"></script>
{% endblock %}
