{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}
    <link href="../static/stylesheets/more_info.css" rel="stylesheet"/>

    <div id="mainCarousel" class="carousel slide card main_carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/white/carton.jpg" class="d-block w-100 image_inside" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Carton</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/white/plastico.jpg" class="d-block w-100 image_inside" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Plastico</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/white/aluminio.jpg" class="d-block w-100 image_inside" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Aluminio</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="info_container">
        <div class="card">
            <h5 class="card-header text-secondary">Residuos aprovechables</h5>
            <div class="card-body">
                <h5 class="card-title text-black">Papel</h5>
                <p class="card-text standard_text">Al igual que el reciclaje de cartón, el reciclaje de papel
                    es muy
                    sencillo. En efecto, el papel está hecho de fibras vegetales, generalmente obtenidas de la madera.
                    Llamadas celulosas, estas fibras son biodegradables, reciclables y no perjudiciales ni para la salud
                    ni para el medio ambiente.

                    Los elementos <b class="text-success">susceptibles</b> de ser reciclados son:
                </p>

                <div class="highlighted_section_green">
                    <ul class="standard_text my-1">
                        <li>Hojas de papel</li>
                        <li>Papel de envolver</li>
                        <li>Periódicos y revistas</li>
                        <li>Folletos</li>
                        <li>Libros</li>
                        <li>Cuadernos</li>
                        <li>Sobres (excepto los kraft y los de color).</li>
                    </ul>
                </div>


                <p class="standard_text my-2">
                    Por otro lado, los siguientes tipos de papel <b class="text-danger">no</b> pueden ser reciclados y
                    no deberán ir en esta
                    sección:
                </p>

                <div class="highlighted_section_red">
                    <ul class="standard_text my-1">
                        <li>Papel recubierto de plástico</li>
                        <li>Papel engomado</li>
                        <li>Papel manchado de grasa</li>
                        <li>Papel fotográfico</li>
                        <li>Papel pintado</li>
                        <li>Papel higiénico, toallas de papel y pañuelos de papel</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
